﻿<h2>Create</h2>
<form method="post">
    <label>Name</label>
    <input name="name" />
    <br />
    <label>Description</label>
    <input name="Description" />
    <br />
    <button type="submit">Save</button>
</form>

