﻿@model ECommerce.Entities.Category
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<p>Are You Want To Delete</p>
<form method="post">
    <div>
        <input type="submit" value="Yes to Delete" />
    </div>
</form>