﻿@model ECommerce.Entities.Category
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<form method="post">
  
            <table>
                <div>
                <tr>
                    <label style="width:auto">Product_ID</label>
                    <input name="Product_ID" value="@Model.ID" readonly="readonly" />
                </tr>

                 </div>
                <div>
            <tr>
                <label style="width:auto">Name</labelstyle="width:auto">
                <input name="Name" value="@Model.Name" />
            </tr>
             </div>
                <div>
        
            <tr>
                <label style="width:auto">Description</label>
                <input name="Description" value="@Model.Description" />
            </tr>

                    
        </div>
                <div>
                    <input type="submit" value="submit"/>
                </div>
    </table>
</form>
