﻿@model List<ECommerce.Entities.Category>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table border="1">
    <tr>
        <th>Product_ID</th>
        <th>Category</th>
        <th>Description</th>
    </tr>
        @foreach (var item in Model)
        {
        <tr style="background-color:aquamarine">

            <td>@item.ID</td>
            <td>@item.Name</td>
            <td>@item.Description</td>
            
        </tr>
        }
    </table>