﻿@model Product
@{
    ViewBag.Title = "Create";
}
<h2>Products</h2>
<form id="createContainer">
    <div>
        <div>
            <label>Name</label>
            <input name="name" />
        </div>
        <div>
            <label>Description</label>
            <input name="description" />
        </div>
        <div>
            <label>Price</label>
            <input name="price" />
        </div>
        <div>
            <input type="button" name="submit" value="submit" id="submitbtn" />
        </div>
    </div>
</form>

<script>
    $("#submitbtn").click(function () {
        $.ajax({
            type:'POST',
            url:'/Product/Create',
            data: $("#createContainer").serialize()
        })
        .done(function(response){
            $("#tablecontainer").html(response);
            $("#actioncontainer").html("");
        })
        .fail(function(XMLHttpRequest,textStatus,errorThrown){
            alert("Fail");
        })
    })
</script>