﻿@model Product
@{
    ViewBag.Title = "delete";
}

<h2>delete</h2>
<form id="deletecontainer">
    <div>
        <div>
        <label>ID</label>
        <input name ="ID" value="@Model.ID" />
        </div>
       <div>
        <label>Name</label>
        <input name="name" value="@Model.Name" />
       </div>
        
        <div>
        <label>Description</label>
        <input name="desc" value="@Model.Description" />
        </div>

         <div>
        <label>Price</label>
        <input name="Price" value="@Model.Price" />
         </div> 
        <p> Are You Want to Sure Delete  this Item </p>
    </div>
    <div>
        <input type="button" name="Delete" value="Yes! Delete" id="removebtn" />
    </div>
</form>

<script>
    $("#removebtn").click(function () {
        $.ajax({
            type: 'POST',
            url: '/Product/delete',
            data: $("#deletecontainer").serialize()
        })
        .done(function(response){
            $("#tablecontainer").html(response);
            $("#deletecontainer").html("");
        })
        .fail(function (XMLHttpRequest,textStatus,errorThrown) {
            alert("FAIL");
        })
    })
</script>
