﻿@model Product
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form id="editcontainer">
    <div>
        <label>ID</label>
        <input name="ID" value="@Model.ID" readonly="readonly">
    </div>
    <div>
    <label>Name</label>
    <input name="name" value=@Model.Name>
    </div>
    <div>
        <label>Description</label>
        <input name="description" value="@Model.Description" />
    </div>
    <div>
        <label>Price</label>
        <input name="Price" value="@Model.Price" />
    </div>
    <div>
        <input type="button" name="Update" value="Update" id="updatebtn" />
    </div>
</form>

<script>
    $("#updatebtn").click(function () {
        $.ajax({
            type:'POST',
            url: '/Product/Edit',
            data: $("#editcontainer").serialize()
        })
        .done(function (response) {
            $("#tablecontainer").html(response);
            $("#actioncontainer").html("");
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {

        })
    })
</script>