﻿@model List<Product>
@{
    ViewBag.Title = "ProductTable";
}

<h2>ProductTable</h2>
<form method="post">
    <table>
        <tr>
        <td><label>Search</label></td>
        <td><input id="searchtxt" name="Search" /></td>
        <td><input type="button" name="Search" value="Search" id="searchbtn" /></td>
        <td><input type="button" name="Reset" value="Reset" id="resetbtn" /></td>
        <td><input type="button" name="New" value="New" id="searchnew" /></td>
        </tr>
    </table>

</form>

<table border="1">
    <thead>
        
        <tr style="background-color:blueviolet;color:cornsilk">
            <td>Product_ID</td>
            <td>Name</td>
            <td>Description</td>
            <td>Price</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Name</td>
                <td>--</td>
                <td>@item.Price</td>
                <td>
                    <button class="editbtn" data-id="@item.ID" name="Edit">Edit</button>
                    @*<button class="deletebtn" data-id="@item.ID" name="Delete">Delete</button>*@
                    <button class="deletebtn1" data-id="@item.ID" name="Delete">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $("#searchbtn").click(function () {
        var searchshow = $("#searchtxt").val();
        $.ajax({
            //type: "GET",
            url: '/Product/ProductTable',
            data: {
                search: searchshow
            }
        })
        .done(function(response){
            $("#tablecontainer").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
        });
    });

    $("#resetbtn").click(function () {
        $.ajax({
            url: '/Product/ProductTable'
        })
        .done(function (response) {
            $("#tablecontainer").html(response);
        })
        .fail(function (XMLHttpRequest,textStatus,errorThrown) {
            alert("Fail");
        })
    })


    $("#searchnew").click(function () {
        $.ajax({
            url: '/Product/Create' 
        })
        .done(function(response) {
            $("#actioncontainer").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
        });
    });

    $(".editbtn").click(function () {
        $.ajax({
            url: '/Product/Edit',
            data: { id: $(this).attr('data-id') }
        })
        .done(function(response){
            $("#actioncontainer").html(response);
        })
        .fail(function (XMLHttpRequest,textStatus,errorThrown) {

        })
    })
    //$(".deletebtn").click(function () {
    //    $.ajax({
    //        url: '/Product/delete',
    //        data: {
    //            id:$(this).attr('data-id')
    //        }
    //    })
    //    .done(function (response) {
    //        $("#actioncontainer").html(response);
    //    })
    //    .fail(function (XMLHttpRequest, textStatus, errorThrown) {

    //     })
    //})

    $(".deletebtn1").click(function () {
        var confirmdelete = confirm("Are you want to delete this item");
        if (confirmdelete) {
            $.ajax({
                type:'POST',
                url: '/Product/delete',
                data: {
                    id: $(this).attr('data-id')
                }
            })
            .done(function (response) {
                $("#tablecontainer").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {

            })
        }
    })
</script>